<form ng-submit="submit()">

 <div class="modal-body">            
     <div class='input-group'>                                  
        <input type='text' ng-model='contact.name' minlength='2' required size='50' class='form-control' placeholder='name'/>
     </div>

     <div class='input-group'>                                  
        <input type='text' ng-model='contact.surname' size='50' class='form-control' placeholder='surname'/>
     </div>

     <div class='input-group'>                                  
        <input type='text' ng-model='contact.phone' required size='50' class='form-control' placeholder='phone'/>
     </div>

     <div class='input-group'>                                  
        <input type='text' ng-model='contact.group' size='50' class='form-control' placeholder='group'/>
     </div>                    
 </div>

 <div class="modal-footer">                    
        <button class="btn" ng-click="cancelModal()">Cancel</button>    
        <input type='submit' value='Save' class='btn btn-primary'/>
 </div>
 </form>
